.person-avatar {
    padding: 8px;
    &-small {
        @extend .person-avatar;
        padding: 5px;
        width: 40px;
        height: 40px;
    }
    &-medium {
        @extend .person-avatar;
        width: 55px;
        height: 55px;
    }
    &-big {
        @extend .person-avatar;
        margin-top: 35px;
        margin-bottom: 30px;
        width: 210px;
        height: 210px;
    }
}