#match-header-container {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    grid-auto-rows: auto;
    gap: 2px;
    border-radius: 5px;
    background-color: var(--ion-color-step-50);
    align-items: center;
    justify-items: center;
    grid-template-areas: 'header-home header-home-team header-home-result' 'header-empty-one header-text header-two' 'header-away header-away-team header-away-result'
}

#match-header-container div {
    display: inline-grid;
    font-size: small;
    border-radius: 5px;
}

#header-home {
    grid-area: header-home;
    justify-self: center;
    color: var(--ion-color-primary);
}

#header-home-team {
    grid-area: header-home-team;
    justify-self: left;
}

#header-home-result {
    grid-area: header-home-result;
    color: var(--ion-color-primary);
}

#header-text {
    grid-area: header-text;
}

#header-away {
    grid-area: header-away;
    justify-self: center;
    color: var(--ion-color-primary);
}

#header-away-team {
    grid-area: header-away-team;
    justify-self: left;
}

#header-away-result {
    grid-area: header-away-result;
    color: var(--ion-color-primary);
}

.result {
    font-size: x-large;
}